@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

:root {
  --color-background: #ffffff;
  --color-surface: #f8fafc;
  --color-text: #111827;
  --color-textSecondary: #6b7280;
  --color-primary: #2563eb;
  --color-border: #e5e7eb;
}

/* body {
  margin: 0;
  font-family:
    Inter,
    system-ui,
    sans-serif;
  background: #ffffff;
  color: #111827;
} */

body {
  background: var(--color-background);
  color: var(--color-text);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}